<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paradox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paradox">
        <activity
            android:name=".controller.activities.FiltrosActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.PostulationActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.InformationJobActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.PerfilPostulanteActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.RegisterEmployeerActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.RegisterPostulantActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.Register"
            android:exported="false" />
        <activity
            android:name=".controller.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.EditProfessionalProfileP"
            android:exported="false"/>
         <activity
            android:name=".controller.activities.SeeProfessionalProfileP"
            android:exported="false"/>
         <activity
            android:name=".controller.activities.ViewCompaniesEmployerActivity"
            android:exported="false"/>

        <activity
            android:name=".controller.activities.EditCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.ViewCompanyEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.MainActivity"
            android:exported="false" />
        <activity  android:name=".controller.activities.PostulantProfileActivity"
            android:exported="false" />

        <activity
            android:name=".controller.activities.PostulantActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.EditAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.WatchAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.PostulationEActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".controller.activities.HomeEmployeer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".controller.activities.EditProfilePostulant"
            android:exported="false">
        </activity>
        <activity
            android:name=".controller.activities.SeeProfilePostulant"
            android:exported="false">
        </activity>

    </application>

</manifest>